// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

// :root {
//   --form-control-padding-x: var(--space-sm);
//   --form-control-padding-y: var(--space-xs);
//   --form-control-radius: 0.25em;
// }
//
// .form-control { // basic form element style
//   border: 2px solid var(--color-contrast-low);
//
//   &:focus {
//     outline: none;
//     border-color: var(--color-primary);
//     box-shadow: 0 0 0 3px alpha(var(--color-primary), 0.2)
//   }
// }
//
// .form-control[aria-invalid="true"] {
//   border-color: var(--color-error);
//
//   &:focus {
//     box-shadow: 0 0 0 3px alpha(var(--color-error), 0.2);
//   }
// }
//
// .form-control[disabled], .form-control[readonly] {
//   cursor: not-allowed;
// }
//
// .form-legend {}
//
// .form-label {
//   font-size: var(--text-sm);
// }
:root {
  // font family
  --font-primary: Inter, sans-serif,Work Sans;
  --font-secondary: sans-serif;

  // body font size
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-secondary-capital-letter: 1;
}

@supports(--css: variables) {
  :root {
    @include breakpoint(md) {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}

// font family
.font-primary { font-family: var(--font-primary);}
.font-secondary { font-family: var(--font-secondary);}

// color
.color-secondary-darker { color: alpha(var(--color-secondary-darker), var(--color-o, 1)); }
.color-secondary-dark { color: alpha(var(--color-secondary-dark), var(--color-o, 1)); }
.color-secondary { color: alpha(var(--color-secondary), var(--color-o, 1)); }
.color-secondary-light { color: alpha(var(--color-secondary-light), var(--color-o, 1)); }
.color-secondary-lighter { color: alpha(var(--color-secondary-lighter), var(--color-o, 1)); }
// --------------------------------

// (END) Global Editor Code

// --------------------------------

.form-error-msg {
  background-color: alpha(var(--color-error), 0.2);
  color: inherit;
  border-radius: var(--radius-md);
  padding: var(--space-xs);
}
