<!DOCTYPE html>
{% extends "base.html" %}


{% block body_block%}
{% load tagg %}

<!-- slideshow -->
<br>
<div class="slideshow js-slideshow slideshow--transition-slide" data-swipe="on">
    <p class="sr-only">Slideshow Items</p>

    <ul class="slideshow__content">

      <li class="slideshow__item js-slideshow__item" style="">
        <div class='container max-width-sm'><div class='text-component text-center font-light'>
          <h2 class="ch">Maximum Infaction Cases</h2></div>
          <br>

          <table class="table table--expanded@xl js-table width-100%" aria-label="Table Example">

            <thead class="table__header">
            <tr class="table__row">
              <th class="table__cell text-left" scope="col">Country</th>
              <th class="table__cell text-right" scope="col">Cases</th>
              <th class="table__cell text-right" scope="col">Deaths</th>
              <th class="table__cell text-right" scope="col">Recovered</th>
            </tr>
          </thead>

    <tbody class="table__body">
      <tr class="table__row">
        <td class="table__cell" role="cell">
          <span class="table__label" aria-hidden="true">Country:</span>{{world_data.1.0}}
        </td>

        <td class="table__cell text-right" role="cell">
          <span class="table__label" aria-hidden="true">Cases:</span>
          {% if world_data.1.2 != "" %}
          <span class ="s"><sub>&#x2191;{{world_data.1.2|plus}}</sub></span>
          {% endif %}
          {{world_data.1.1}}
        </td>

        <td class="table__cell text-right" role="cell">
          <span class="table__label" aria-hidden="true">Deceased:</span> {{world_data.1.3}}
        </td>
        <td class="table__cell text-right" role="cell">
          <span class="table__label" aria-hidden="true">Recovered:</span>{{world_data.1.5}}
        </td>

      </tr>

    </tbody>
  </table>


          <!-- <h2 class="ch">{{world_data.1.0}}</h2>
          <div class="text-component text-center padding-left-md  v-space-xs">
            <h3>Cases:{{world_data.1.1}}</h3>
            <h4>Deceased:{{world_data.1.3}}</h4>
            <h4>Recovered:{{world_data.1.5}}</h4>
          </div> -->

    </div>
    </li>
      <li class="slideshow__item js-slideshow__item" style="">
        <div class='container max-width-sm'>
          <div class='text-component text-center'><h2 class="ch">Maximum Fatalities</h2></div><br>
        <table class="table table--expanded@xl js-table width-100%" aria-label="Table Example">
          <thead class="table__header">
          <tr class="table__row">
            <th class="table__cell text-left" scope="col">Country</th>
            <th class="table__cell text-right" scope="col">Deaths</th>
            <th class="table__cell text-right" scope="col">Cases</th>
            <th class="table__cell text-right" scope="col">Recovered</th>
          </tr>
        </thead>
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__cell" role="cell">
                <span class="table__label" aria-hidden="true">Country:</span>{{maxd.0}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Deaths:</span>
                {% if maxd.4 != "" %}
                <span class ="s"><sub>&#x2191;{{maxd.4|plus}}</sub></span>
                {% endif %}
                {{maxd.3}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Cases:</span>{{maxd.1}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Recovered:</span>{{maxd.5}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </li>


      <!-- <li class="slideshow__item js-slideshow__item" style="">

        <div class='container max-width-sm'><div class='text-component text-center font-light'>
          <h2 class="sh">Maximum Fatalities</h2>
          <h3 class="ch">{{maxd.0}}</h3>
          <div class="text-component text-left padding-left-md  v-space-xs">
            <h4>Deaths:{{maxd.3}}</h4>
            <h4>Cases:{{maxd.1}}</h4>
            <h4>Recovered:{{maxd.5}}</h4>
          </div>



      </li> -->
      <li class="slideshow__item js-slideshow__item" style="">
        <div class='container max-width-sm'>
          <div class='text-component text-center'><h2 class="ch">Maximum New Cases</h2></div><br>
        <table class="table table--expanded@xl js-table width-100%" aria-label="Table Example">
          <thead class="table__header">
          <tr class="table__row">
            <th class="table__cell text-left" scope="col">Country</th>
            <th class="table__cell text-right" scope="col">New Cases</th>
            <th class="table__cell text-right" scope="col">Total Cases</th>
            <th class="table__cell text-right" scope="col">Deaths</th>
          </tr>
        </thead>
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__cell" role="cell">
                <span class="table__label" aria-hidden="true">Country:</span>{{maxdc.0}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">New Cases:</span>{{maxdc.2}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Total Cases:</span>{{maxdc.1}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Deaths:</span>{{maxdc.3}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </li>
      <!-- <li class="slideshow__item js-slideshow__item" style="">

        <div class='container max-width-sm'><div class='text-component text-center font-light'>
          <h2 class="sh">Maximum New Cases</h2>
          <h3 class="ch">{{maxdc.0}}</h3>
          <div class="text-component text-left padding-left-md  v-space-xs">
            <h4>New Cases:{{maxdc.2}}</h4>
            <h4>Total Cases:{{maxd.1}}</h4>
            <h4>Deaths:{{maxd.3}}</h4>
          </div>


      </li> -->
      <li class="slideshow__item js-slideshow__item" style="">
        <div class='container max-width-sm'>
          <div class='text-component text-center'><h2 class="ch">Maximum New Deaths</h2></div><br>
        <table class="table table--expanded@xl js-table width-100%" aria-label="Table Example">
          <thead class="table__header">
          <tr class="table__row">
            <th class="table__cell text-left" scope="col">Country</th>
            <th class="table__cell text-right" scope="col">New Deaths</th>
            <th class="table__cell text-right" scope="col">Total Deaths</th>
            <th class="table__cell text-right" scope="col">Cases</th>
          </tr>
        </thead>
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__cell" role="cell">
                <span class="table__label" aria-hidden="true">Country:</span>{{maxdd.0}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">New Deaths:</span>{{maxdd.4}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Total Deaths:</span>{{maxdd.3}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Cases:</span>{{maxdd.1}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </li>
      <!-- <li class="slideshow__item js-slideshow__item" style="">

        <div class='container max-width-sm'><div class='text-component text-center font-light'>
          <h2 class="sh">Maximum New Deaths</h2>
          <h3 class="ch">{{maxdd.0}}</h3>
          <div class="text-component text-left padding-left-md  v-space-xs">
            <h4>New Deaths:{{maxdd.4}}</h4>
            <h4>Total Deaths:{{maxdd.3}}</h4>
            <h4>Cases:{{maxdd.1}}</h4>
          </div>

      </li>

      <li class="slideshow__item js-slideshow__item" style="background-image: url('../../../app/assets/img/slideshow-img-1.jpg');">
        <div class='container max-width-sm'><div class='text-component text-center'><h1>Slide Three</h1></div></div>
      </li>

      <li class="slideshow__item js-slideshow__item" style="">
        <div class='container max-width-sm'>
          <div class='text-component text-center'><h1>Maximum Infaction Cases</h1></div>
        <table class="table table--expanded@xs js-table width-100%" aria-label="Table Example">
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__cell" role="cell">
                <span class="table__label" aria-hidden="true">Country:</span>{{world_data.1.0}}
              </td>
              <td class="table__cell" role="cell">
                <span class="table__label" aria-hidden="true">Cases:</span>{{world_data.1.1}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Deceased:</span> {{world_data.1.3}}
              </td>
              <td class="table__cell text-right" role="cell">
                <span class="table__label" aria-hidden="true">Recovered:</span>{{world_data.1.5}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </li> -->

    </ul>

    <ul>
      <li class="slideshow__control js-slideshow__control">
        <button class="reset slideshow__btn js-tab-focus">
          <svg class="icon" viewBox="0 0 32 32"><title>Show previous slide</title><path d="M20.768,31.395L10.186,16.581c-0.248-0.348-0.248-0.814,0-1.162L20.768,0.605l1.627,1.162L12.229,16 l10.166,14.232L20.768,31.395z"></path></svg>
        </button>
      </li>

      <li class="slideshow__control js-slideshow__control">
        <button class="reset slideshow__btn js-tab-focus">
          <svg class="icon" viewBox="0 0 32 32"><title>Show next slide</title><path d="M11.232,31.395l-1.627-1.162L19.771,16L9.605,1.768l1.627-1.162l10.582,14.813 c0.248,0.348,0.248,0.814,0,1.162L11.232,31.395z"></path></svg>
        </button>
      </li>
    </ul>
  </div>

<!-- slideshow -->

<!-- countup -->


<!-- world -->
<br>
<div class="container padding-y-xs max-width-lg center" style="border:1px solid var(--color-contrast-higher); border-radius: 30px; ">

  <h3 --text-xxxl class="ch center">Coronavirus Cases World </h3>
  <h2 --text-xxxl class="center"> Total </h2>
  <span class="countup text-xxl h"><span class="js-countup">{{world_data.0.1|comma}}</span></span>
    {% if world_data.0.2 != "" %}
  <br>
  <sub class="s">[{{world_data.0.2}}]</sub>
  {% endif %}
<div class="parent">
<div class="child one">
  <span class="ss">
  <h3 --text-xxxl >Deaths</h3>
  <span class="countup text-xxl d"><span class="js-countup">{{world_data.0.3|comma}}</span></span>

  {% if world_data.0.4 != "" %}
  <br>
<sub class="s">[{{world_data.0.4}}]</sub>
  {% endif %}
</span>
</div>
<div class="child two">

  <div class="c-progress-bar js-c-progress-bar gap-md margin-bottom-sm " data-progress="{{perw.0}}%" data-animation="on">
    <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

    <div class="c-progress-bar__shape color-error" aria-hidden="true">
      <span class="c-progress-bar__value">
        <span class="js-c-progress-bar__value">60</span><i>%</i>
      </span>

      <svg viewBox="0 0 80 80" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
        <circle class="c-progress-bar__bg" cx="40" cy="40" r="30"></circle>
        <circle class="c-progress-bar__fill" cx="40" cy="40" r="30"></circle>
      </svg>
    </div>
  </div>

</div>
</div>

<div class="parent">
  <div class="child one">
    <span class="ss">
    <h3 --text-xxxl>Recovered</h3>
    <span class="countup text-xxl r"><span class="js-countup">{{world_data.0.5|comma}}</span></span>
    <!-- {% if world_data.0.4 != "" %}
    <br>
  <sub class="s">[{{world_data.0.4}}]</sub>
    {% endif %} -->
    </span>
  </div>

  <div class="child two">
    <div class="c-progress-bar js-c-progress-bar" data-progress="{{perw.1}}%" data-animation="on">
      <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

      <div class="c-progress-bar__shape color-primary" aria-hidden="true">
        <span class="c-progress-bar__value">
          <span class="js-c-progress-bar__value">60</span><i>%</i>
        </span>

        <svg viewBox="0 0 80 80" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
          <circle class="c-progress-bar__bg" cx="40" cy="40" r="30"></circle>
          <circle class="c-progress-bar__fill" cx="40" cy="40" r="30"></circle>
        </svg>
      </div>
    </div>
  </div>

</div>
<a href="/countries">
<!-- <button class="btn btn--primary"> -->
  Countrywise Stats &#8594;
<!-- </button> -->
</a>

</div>

<!-- world -->
<br>


<!-- India -->
<br>
<div class="container padding-y-xs max-width-lg center" style="border:1px solid var(--color-contrast-higher); border-radius: 30px; ">

  <h3 --text-xxxl class="ch center">Coronavirus Cases INDIA </h3>
  <h2 --text-xxxl class="center"> Total </h2>
  <span class="countup text-xxl h"><span class="js-countup">{{india_data.confirmed}}</span></span>
    {% if india_data.deltaconfirmed != "0" %}
  <br>
  <sub class="s">[+{{india_data.deltaconfirmed}}]</sub>
  {% endif %}
<div class="parent">
<div class="child one">
  <span class="ss">
  <h3 --text-xxxl >Deaths</h3>
  <span class="countup text-xxl d"><span class="js-countup">{{india_data.deaths}}</span></span>

  {% if india_data.deltadeaths != "0" %}
  <br>
<sub class="s">[+{{india_data.deltadeaths}}]</sub>
  {% endif %}
</span>
</div>
<div class="child two">

  <div class="c-progress-bar js-c-progress-bar gap-md margin-bottom-sm " data-progress="{{per.0}}%" data-animation="on">
    <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

    <div class="c-progress-bar__shape color-error" aria-hidden="true">
      <span class="c-progress-bar__value">
        <span class="js-c-progress-bar__value">60</span><i>%</i>
      </span>

      <svg viewBox="0 0 80 80" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
        <circle class="c-progress-bar__bg" cx="40" cy="40" r="30"></circle>
        <circle class="c-progress-bar__fill" cx="40" cy="40" r="30"></circle>
      </svg>
    </div>
  </div>

</div>
</div>

<div class="parent">
  <div class="child one">
    <span class="ss">
    <h3 --text-xxxl>Recovered</h3>
    <span class="countup text-xxl r"><span class="js-countup">{{india_data.recovered}}</span></span>
    {% if india_data.deltarecovered != "0" %}
    <br>
  <sub class="s">[+{{india_data.deltarecovered}}]</sub>
    {% endif %}
    </span>
  </div>

  <div class="child two">
    <div class="c-progress-bar js-c-progress-bar" data-progress="{{per.1}}%" data-animation="on">
      <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

      <div class="c-progress-bar__shape color-primary" aria-hidden="true">
        <span class="c-progress-bar__value">
          <span class="js-c-progress-bar__value">60</span><i>%</i>
        </span>

        <svg viewBox="0 0 80 80" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
          <circle class="c-progress-bar__bg" cx="40" cy="40" r="30"></circle>
          <circle class="c-progress-bar__fill" cx="40" cy="40" r="30"></circle>
        </svg>
      </div>
    </div>
  </div>

</div>
<br>

<a href="/india">
<!-- <button class="btn btn--primary"> -->
  Statewise Stats &#8594;
<!-- </button> -->
</a>



</div>

<!-- india -->



<style>
.center {
  text-align: center;

}
.d{
  color: var(--color-error);
}
.r{
  color: var(--color-primary-lighter);
}
.h{
  color: var(--color-accent);
}
.s{
  color: var(--color-warning-dark);
}
.sh{
  color: var(--color-error-dark);
}
.ch{
  color: var(--color-primary);
  font: Black 900;
}
.ss{

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.parent {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space-md) * -1) 0 0 calc(var(--space-md) * -1);
}
.parent > * {
  padding: var(--space-md) 0 0 var(--space-md);
  background-clip: content-box;
}
@supports (grid-area: auto) {
  .parent {
    margin: 0;
  }
  .parent > * {
    padding: 0;
    max-width: none !important;
  }
}
@supports (grid-area: auto) {
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--space-md);
  }
}

.child {
  position: relative;

}

.one, .two {
  flex-basis: 50%;
  max-width: 50%;
  grid-column: span 2;
}

</style>
<!-- countend -->
{% endblock %}
