<!DOCTYPE html>
{% extends "base.html" %}


{% block body_block%}

<!-- countup -->


<!-- world -->
<div class="container padding-y-md max-width-lg ">
<div class="grid gap-xs left">
<div class="offset-1 left col">
<h4 --text-xxxl class="ch">Coronavirus Cases World </h4>
<h2 --text-xxxl> Total </h2>
<span class="countup text-xxl h"><span class="js-countup">{{world_data.0}}</span></span>

<h3 --text-xxxl >Deaths</h3>
<span class="countup text-xxl d"><span class="js-countup">{{world_data.1}}</span></span>


<h3 --text-xxxl>Recovered</h3>
<span class="countup text-xxl r"><span class="js-countup">{{world_data.2}}</span></span>
</div>

<div class="col offset-1">
<div class="ss">

<div class="c-progress-bar js-c-progress-bar gap-md margin-bottom-md " data-progress="{{world_data.3}}%" data-animation="on">
  <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

  <div class="c-progress-bar__shape color-error" aria-hidden="true">
    <span class="c-progress-bar__value">
      <span class="js-c-progress-bar__value">60</span><i>%</i>
    </span>

    <svg viewBox="0 0 100 100" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
      <circle class="c-progress-bar__bg" cx="50" cy="50" r="44"></circle>
      <circle class="c-progress-bar__fill" cx="50" cy="50" r="44"></circle>
    </svg>
  </div>
</div>
</div>
<div class="ss">
<div class="c-progress-bar js-c-progress-bar" data-progress="{{world_data.4}}%" data-animation="on">
  <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

  <div class="c-progress-bar__shape color-primary" aria-hidden="true">
    <span class="c-progress-bar__value">
      <span class="js-c-progress-bar__value">60</span><i>%</i>
    </span>

    <svg viewBox="0 0 100 100" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
      <circle class="c-progress-bar__bg" cx="50" cy="50" r="44"></circle>
      <circle class="c-progress-bar__fill" cx="50" cy="50" r="44"></circle>
    </svg>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- world -->


<!-- India -->



<div class="container padding-y-md max-width-lg component-one">
<div class="grid gap-xs left">
<div class="offset-1 left col" >
<h4 --text-xxxl class="ch">Coronavirus Cases India </h4>
<h2 --text-xxxl> Total </h2>
<span class="countup text-xxl h"><span class="js-countup">{{india_data.confirmed}}</span></span><sub class="s">[+{{india_data.deltaconfirmed}}]</sub>



<h3 --text-xxxl >Deaths</h3>
<span class="countup text-xxl d"><span class="js-countup">{{india_data.deaths}}</span></span><sub class="s">[+{{india_data.deltadeaths}}]</sub>


<h3 --text-xxxl>Recovered</h3>
<span class="countup text-xxl r"><span class="js-countup">{{india_data.recovered}}</span></span><sub class="s">[+{{india_data.deltarecovered}}]</sub>
</div>


<div class="col offset-1">

<div class="c-progress-bar js-c-progress-bar gap-md margin-bottom-md " data-progress="{{per.0}}%" data-animation="on">
  <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

  <div class="c-progress-bar__shape color-error" aria-hidden="true">
    <span class="c-progress-bar__value">
      <span class="js-c-progress-bar__value">60</span><i>%</i>
    </span>

    <svg viewBox="0 0 100 100" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
      <circle class="c-progress-bar__bg" cx="50" cy="50" r="44"></circle>
      <circle class="c-progress-bar__fill" cx="50" cy="50" r="44"></circle>
    </svg>
  </div>
</div>

<div class="c-progress-bar js-c-progress-bar" data-progress="{{per.1}}%" data-animation="on">
  <p class="sr-only" aria-live="polite" aria-atomic="true">Progress value is <span class="js-c-progress-bar__aria-value">60%</span></p>

  <div class="c-progress-bar__shape color-primary" aria-hidden="true">
    <span class="c-progress-bar__value">
      <span class="js-c-progress-bar__value">60</span><i>%</i>
    </span>

    <svg viewBox="0 0 100 100" stroke-width="6" fill="none" stroke="currentColor" stroke-linecap="round">
      <circle class="c-progress-bar__bg" cx="50" cy="50" r="44"></circle>
      <circle class="c-progress-bar__fill" cx="50" cy="50" r="44"></circle>
    </svg>
  </div>
</div>

</div>
</div>
</div>

<!-- india -->


<style>
.center {
  text-align: center;

}
.d{
  color: var(--color-error);
}
.r{
  color: var(--color-primary-lighter);
}
.h{
  color: var(--color-accent);
}
.s{
  color: var(--color-warning-dark);
}
.ch{
  color: var(--color-primary);
  font: Black 900;
}
.ss{
  width: 60%;
}
</style>
<!-- countend -->
{% endblock %}
